<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
</head>
<body>
<a href="/addTodo">add todo event</a>
<table class="table">
    <thead>
    <tr>
        <td>Content</td>
        <td>Time</td>
        <td>Status</td>
    </tr>
    </thead>
    <tbody>
    {% for t in todos %}
    <tr>
        <td>{{ t.content }}</td>
        <td>{{ t.time }}</td>
        <td>
            {% if t.status == 0 %}
            <a href="/done/{{ t.id }}" class="btn btn-primary">Done</a>
            {% else %}
            <a href="/undone/{{ t.id }}" class="btn btn-primary">Undone</a>
            {% endif %}
            <a href="/delete/{{ t.id }}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>